[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-mail = "*"
gunicorn = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.8"
